header, footer {
    background-color: #38b6ff;
    padding: 10px;
  }
  
  main {
    padding: 10px;
    background-color: silver;
  }
  
  .post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: inline-block;
    width: 400px;
    margin-right: 40PX;
  }
  
  .post img {
    margin: 20px;
  }
  
  .footer-columns {
    display: flex;
  }
  
  .footer-column {
    flex: 50%;
    margin: 20px;
  }

  .post1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
   
  }

  .post1 img {
    margin: 20px;
  }